@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0.03);
}

:root {
	--gray1: hsl(233, 13%, 16%);
	--gray1b: hsl(233, 13%, 22%);
  --gray2: hsl(240, 8%, 48%);
  --gray3: hsl(235, 8%, 55%);
  --gray3Hover: hsl(235, 8%, 60%);
  --gray4: hsl(240, 12%, 75%);
  --gray5: hsl(240, 8%, 85%);
  --gray6: hsl(240, 5%, 92%);
  --gray6b: hsl(240, 8%, 98%);
  --gray6c: hsl(240, 3%, 99%);

	--textPrimary: var(--gray1);
	--textSecondary: var(--gray2);
	--textSecondaryInverse: var(--gray3);
	--textTertiary: var(--gray4);
	--borderColor: var(--gray6);
	--backgroundColor: var(--gray5);
	--backgroundColor2: var(--gray6);
	--fontSizeSmall: 14px;
}

input[type="search"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	margin: 0px;
}

button {
  background: #444;
  color: #fff;
  outline: none;
  padding: 12px 32px;
  font-size: 15px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: all .2s;
  cursor: pointer;
}

button:hover {
  background: #555;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

button:disabled {
  background: #999;
  pointer-events: none;
}

.App {
	font-size: 16px;
	background-color: white;
	transition: background-color .2s;
}
@media screen and (max-width: 600px) {
	.withActiveArtist {
		background-color: rgba(0, 0, 0, .008);
	}
}
.inner {
	margin: 0 auto;
	padding: 20px;
	max-width: 600px;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.filter-input {
	animation: fade-in 0.2s linear;
	padding: 15px;
	border: none;
	background: var(--gray6b);
	/* opacity: .8; */
	outline: none;
	border-radius: 5px;
	font-size: 16px;
}

input:active {
	background: var(--gray6b);
}

input:focus {
	background: var(--gray6b);
}

.fab {
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: hsl(215, 8%, 85%); */
	background: var(--gray1);
	border-radius: 4px;
	/* margin: 0 auto; */
	box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px, rgba(0, 0, 0, 0.16) 0px 3px 10px;
	position: absolute;
	right: 20px;
	font-size: 18px;
	height: 56px;
	width: 56px;
	border-radius: 50%;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.fab svg {
	display: inline-block;
	position: relative;
	left: 1px;
}


.fab:hover {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px, rgba(0, 0, 0, 0.26) 0px 3px 10px;
	/* opacity: .8; */
}

.genrepill {
	outline: none;
	font-size: 14px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	animation: fade-in 0.2s linear;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	user-select: none;
	cursor: pointer;
	font-weight: 500;
	background: var(--gray6b);
	/* border: 1px solid var(--gray6); */
	color: var(--gray2);
	border-radius: 4px;
	padding: 12px;
}

.genrepill:hover {
	/* border: 1px solid hsl(240, 5%,95%); */
	/* color: var(--gray2); */
}

.genrepill-active {
	border: none;
	color: white;
	background: var(--gray1b);
}
.genrepill-active:hover {
	color: white;
	background: var(--gray1b);
}

textarea:focus {
	outline: none;
	/* border: 1px solid var(--gray5); */
}
textarea {
	animation: fade-in .4s;
	/* background: var(--gray6b); */
	/* padding: 5px; */
	border: none;
	/* border: 1px solid var(--gray5); */
	border-radius: 4px;
	outline: none;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: none;
	resize: none;
}

.top-nav-wrapper {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	height: 65px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	/* background: linear-gradient(rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 90%); */
	/* opacity: .8; */
	display: flex;
	justify-content: space-between;
}
@media screen and (min-width: 600px) {
	.top-nav-wrapper {
		position: absolute;
	}
}
.top-nav-bar-button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		outline: none;
		height: 32px;
		color: black;
		/* background: 'rgba(0, 0, 0, 0.0)', */
		/* borderRadius: '50%', */
		/* border: 'none', */
		cursor: pointer;
		opacity: 1;
		transition: all .2s;
}
.top-nav-bar-button:hover {
	opacity: .8;
}

.folder-icon {
	position: relative;
}

.chevron-up-icon {
	color: black;
		transform: rotate(180deg);
}

.delete-icon {
	opacity: .9;
	width: 21px;
	margin-right: 16px;
	position: relative;
	top: -1px;
}

.dropdown {
    display: inline-block;
		position: relative;
}

.dropdown__content {
    display: none;
    position: absolute;
		top: 33px;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
	left: -170px;
}

.dropdown--active .dropdown__content {
    display: block;
}
.dropdown-list-item {
	padding: 16px 16px;
	position: relative;
	width: 200px;

	animation: fade-in 0.1s linear;
	background: white;
	transition: all .2s;
	cursor: pointer;
}
.dropdown-list-item:hover {
	background: var(--gray6b);
}

.dropdown-list-item:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.dropdown-list-item:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.bottom-overlay {
	position: fixed;
	background: white;
	box-shadow: 0px -2px 13px rgba(0, 0, 0, .15);
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	/* margin: -20px; */
    animation: fade-in 0.2s linear;
}
.bottom-overlay button {
	margin-top: 10px;
}

/* label { */
/* 	font-size: 12px; */
/* 	margin-top: -10px; */
/* 	padding-top: 10px; */
/* 	padding-left: 5px; */
/* 	padding-bottom: 10px; */
/* 	color: var(--gray3); */
/* 	user-select: none; */
/* 	padding-right: 5px; */
/* 	/* margin-right: 5px; */ */
/* 	margin-bottom: 5px; */
/* } */

input[type="checkbox"] {
	position: relative;
	top: 1px;
	margin-left: 10px;
}

.input-cross-icon {
	position: absolute;
	right: 0px;
	top: 0px;
	display: flex;
	align-items: center;
	height: 48px;
	padding-left: 15px;
	padding-right: 12px;
	background: var(--gray6b);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;

	/* border: 1px solid red; */
}
.input-cross-icon svg {
	width: 18px;
	height: 18px;
	opacity: .2;
	transition: all .2s;
}

.input-cross-icon:hover svg {
	opacity: .5;
}

.album-art-full-wrapper {
	position: relative;
	/* margin: 40px; */
	margin-top: 75px;
	margin-bottom: 35px;
	/* margin-left: 20px; */
	display: flex;
	justify-content: center;
	opacity: 1;
	transition: opacity .2s ease-out;
}


.album-art-full {
	/* box-shadow: 1px 5px 40px -3px hsl(0, 10%, 85%); */
	border-radius: 3px;
	width: 180px;
	height: 180px;
	/* height: isMobile ? window.innerWidth : undefined, */
}

@media screen and (min-width: 600px) {
	.album-art-full-wrapper {
			margin-bottom: 335px !important;
		}
	.album-art-full {
		height: 400px;
		width: 400px;
		}
	}

.SimpleRating {
	color: var(--textSecondary);
	font-size: 12px;
	margin-top: 5px;
}
