.Artist {
	display: flex;
	cursor: pointer;
	margin-left: -20px;
	margin-right: -20px;
	padding: 10px 20px;
	opacity: 1;
	transition: all .2s ease-in-out;
}

.Artist:hover {
	opacity: .9;
}
.Artist:hover .Artist__image {
	transform: scale(1.01);
}

.Artist__image {
	transform: scale(1);
	opacity: 1;
	transition: all .2s ease-in-out;
	margin-right: 20px;
	height: 60px;
	width: 60px;
	background-repeat: no-repeat;
	border-radius: 50%;
	background-size: cover;
}

.Artist__text {
	flex-direction: column;
	display: flex;
	justify-content: center;
}

.Artist__secondRow {
	color: var(--textSecondary);
	margin-top: 2px;
	font-size: var(--fontSizeSmall);
	/* margin-right: 20px; */
}

.Artist__albums {
	margin: 0px;
	margin:  -20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 30px;
	/* border-top: 1px solid var(--borderColor); */
	/* border-bottom: 1px solid var(--borderColor); */
	background-color: white;
	/* box-shadow: 0px 1px 5px 0px var(--gray5); */
	/* border: 1px solid var(--borderColor); */
	box-shadow: 0px 0px 3px 1px var(--gray6);
	/* background: var(--gray6b); */
	padding-left: 40px;
	color: var(--gray6c);
	position: relative;
}

.Artist__albums:after {
	content: '';
	position: absolute;
	top: -12px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
	left: 37px;
}

.Artist__albums:before {
	content: '';
	position: absolute;
	top: -12px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  filter: drop-shadow(0px 0px 2px var(--gray5));
	left: 40px;
}

@media screen and (min-width: 600px) {
.Artist__albums {
	border-radius: 5px;
	position: relative;
}
}

.item-title {
	/* color: var(--gray6c); */
	color: var(--gray1);
	display: block;
	font-size: 16px;
}

.Artist__album {
    animation: fade-in 0.4s linear;
		margin-left: -20px;
		padding-left: -20px;
		padding-right: -20px;
		margin-right: -20px;
		margin-bottom: 20px;
		cursor: pointer;
		/* background: white; */
		transition: all .2s;
		border-radius: 5px;
		/* border: 1px solid white; */
}

.Artist__album img {
	opacity: 1;
	min-width: 80px;
	background-color: var(--gray6b);
	 transition: all .3s ease-in-out;
}


.Artist__album_textWrapper {
	margin: 0 20px;
}

.Artist__album__description {
	margin: 6px 0px 0 0;
	opacity: .85;
	max-width: 280px;
	font-size: 13px;
	color: var(--textSecondary);
}

.Artist__album .Artist__album-title {
	user-select: none;
	opacity: .9;
	 transition: all .3s ease-in-out;
}
@media screen and (min-width: 600px) {
	.Artist__album:hover .Artist__album-title {
		color: #000 !important;
		opacity: 1;
	}
	.Artist__album:hover img {
		transform: scale(1.01);
		opacity: 0.9;

		/* font-weight: 700; */
	}
}

.Artist__album__image {
	width: 80px;
	height: 80px;
	border-radius: 2px;
	background-color: var(--gray6b);
}

@media screen and (min-width: 600px) {
	.Artist__album__image {
		width: 100px;
		height: 100px;
	}
}

.Artist__recentlyChangedBlob {
	position: absolute;
	bottom: 3px;
	border: 2px solid white;
	right: 21px;
	background: #333;
	border-radius: 50%;
	width: 13px;
	height: 13px;
}
.album-icon {
	width: 8px;
	height: 8px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	border: 2px solid #444;
	margin-right: 2px;
}
